.dataTrainPage{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        /* 95B9C7 */
        height: 100vh;
  
    
}

.dataTrainPage .mainDiv{ 
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:  auto;
    padding: 20px 50px;
}

.dataTrainPage .mainDiv .webcamDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
